@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    body {
        font-family: "Manrope", sans-serif;
        box-sizing: border-box;
    }

    .scrollbar::-webkit-scrollbar {
        display: none;
    }

    .scrollbar {
        scrollbar-width: none;
    }
}